@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Radio Canada', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
}
.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.nav-center ul {
    display: flex;
}
.nav-center ul li {
    margin-right: 40px;
    list-style: none;

}
.nav-center ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;

}
.nav-center ul li a:hover{
    color: blue;
}
h4{
    color: white;
    font-size: 20px;
    padding: 0 25px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}
h2{
    margin-bottom: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.btn{
    width: 150px;
    height: 50px;
    border: solid white 2px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}